* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "nav nav nav"
  "hd hd hd"
  "main main sd"
  "ft ft ft";
  border: 2px solid salmon;
}
#one {
  grid-area: nav;
}
#two {
  grid-area: hd;
}
#three {
  grid-area: main;
}
#four {
  grid-area: sd;
}
#five {
  grid-area: ft;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu {
  float: right;
  margin: 10px;
}
ul {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style-type: none;
  padding: 10px;
  background-color: bisque;
}
header {
  grid-area: hd;
  text-align: center;
  background-color: burlywood;
  padding: 25px;
}
.headernav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.religion {
  width: 240px;
  height: 10px;
  padding: 15px;
 
}
section {
  grid-area: main;
  display: grid;
  text-align: center;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer {
  grid-area: ft;
  text-align: center;
}