header {
  text-align: center;
  background-color: burlywood;
  padding: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: bisque;
}
li {
  float: right;
  margin: 10px;
}
section {
  text-align: center;
}
