* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  font-family: "Tangerine", serif;
  font-size: 28px;
  font-weight: 300;
  min-height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "hd hd hd hd"
    "main main main sd"
    "ft ft ft ft";
}
#one {
  grid-area: hd;
}
#two {
  grid-area: main;
}
#three {
  grid-area: sd;
}
#four {
  grid-area: ft;
}
.header {
  color: rgb(24, 92, 69);
  background: linear-gradient(#b4f8c8, #ffffcc);
  text-align: center;
  padding: 25px;
  border-radius: 20px;
}
.headernav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}
.religion a {
  color: #797909;
  text-decoration: none;
}
.blog-posts {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card card card"
    "card card card";
  gap: 20px;
}
.post {
  width: auto;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 15px;
  background-color: #a0e7e5;
  text-align: center;
}
.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.post-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.post-content {
  color: gray;
  padding: 10px;
}
.post-info a {
  color: #3e9693;
  text-decoration: none;
}
.aside {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
=======
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 20px;
>>>>>>> 66762e4b606b1e20366c42f4a88febeb06cd1366
}
.about {
  width: auto;
  height: 33%;
  color: rgb(146, 142, 77);
  background-color: #ffffcc;
  text-align: left;
  padding: 15px;
  border-radius: 15px;
}
.previous-posts {
  width: auto;
  height: 33%;
  color: rgb(146, 142, 77);
  background-color: #ffffcc;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
}
.post-list-item {
  list-style-type: decimal;
  list-style-position: inside;
}
.texts {
  width: auto;
  height: 33%;
  color: rgb(146, 142, 77);
  background-color: #ffffcc;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
}
.texts-list-item {
  list-style-type: none;
  list-style-position: inside;
}
.footer {
  color: #b3b33f;
  width: auto;
  height: 130px;
  text-align: center;
  justify-content: space-evenly;
  background: linear-gradient(#ffffcc, #e7be7c);
  padding: 25px;
  margin-top: 20px;
  border-radius: 25px;
}
/*FAA69E FBE7C6*/
